extends layout

block content
    br
    .container 
      a(href="/add").btn.btn-primary(style="float:right") Add Product 
      br
    br
    table.table.table-hover 
      thead.table-dark 
        tr 
          th Name
          th Description
          th Price
          th Rating
          th Cart
      tbody 
        //- tr 
        //-   td name
        //-   td name
        //-   td name
        //-   td
        //-     <span class="fa fa-star checked"></span>
        //-     <span class="fa fa-star checked"></span>
        //-     <span class="fa fa-star checked"></span>
        //-     <span class="fa fa-star"></span>
        //-     <span class="fa fa-star"></span>
        //-   td 
        //-     a(href="/cart/"+product._id).btn.btn-primary Add to Cart 
        each product in products 
          tr 
            td=product.name
            td=product.description
            td=product.price
            td
              -var n = 0
              while n<5
                -n+=1
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            td 
              a(href="/cart/"+product._id).btn.btn-primary Add to Cart 
